@model ChatBot.Models.ClientXModel
@{
    ViewData["Title"] = "ClientX";
}

<form asp-controller="Home" asp-action="ClientX" method="post">

    <lable asp-for="Id" >Add Your Id</lable>
    <input asp-for="Id" />
    <lable asp-for="Name">Add Your Name</lable>
    <input asp-for="Name" />
    <lable asp-for="Message">Add Your Message</lable>
    <input asp-for="Message" />
</form>

