@model ChatBot.Models.ClientYModel


@{
    ViewData["Title"] = "ClientYView";
}



<form asp-controller="Home" asp-action="ClientY" method="post">

    <label asp-for="Id">Add Your Id</label>
    <input asp-for="Id" />


    <button type="submit" class="btn btn-primary">Send Message</button>

</form>

