@model ChatBot.Models.ClientXModel
@{
    ViewData["Title"] = "ClientXView";
}
<h1>ClientXView</h1>



<form asp-controller="Home" asp-action="ClientX" method="post">

    <label asp-for="Id">Add Your Id</label>
    <input asp-for="Id" />


    <button type="submit" class="btn btn-primary">Send Message</button>
</form>


