
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<a asp-controller="Home" asp-action="ClientXView" class="btn btn-success">ClientX</a>
<a asp-controller="Home" asp-action="ClientYView" class="btn btn-primary">ClientY</a>

